<div th:fragment="navbarFragmentAdmin" xmlns:th="http://www.thymeleaf.org">
	<div class="list-group">
		<a th:href="@{/admin/index}" class="list-group-item list-group-item-action">Home</a>
		<a th:href="@{/admin/order/}" class="list-group-item list-group-item-action">Order</a>
		<a th:href="@{/admin/account/}" class="list-group-item list-group-item-action">Users</a> 
		<a th:href="@{/admin/product/}" class="list-group-item list-group-item-action">Products</a>
		<a href="#" class="list-group-item list-group-item-action">Settings</a>
	</div>
</div>